.input {
  &-label {
    display: block;
    margin-bottom: 10px;
  }
  &-search {
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  &-select {
    display: flex;
    align-items: center;
    gap: 0 10px;
    cursor: pointer;
  }
  &-radio {
    width: 25px;
    height: 25px;
    border-radius: 100rem;
    &--checked {
      background-color: #ccc;
    }
    &--active {
      background-color: #20e3b2;
    }
  }
}
