.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  &-item {
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
  }
}
